<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Playground — Vue 3</title>
  </head>
  <body>
    <div id="app">
      <h1>
        Counter
      </h1>
    
      <p>
        {{ count }}
      </p>
    
      <button v-on:click="incrementCount">
        Increment Counter
      </button>

      <h1>
        {{ incrementAmount }}
      </h1>

      <div>
        <label for="incrementAmount">
          Increment by:
        </label>
        <input type="number" v-model="incrementAmount">   
        <!-- Directive v-modal="incrementAmount" tracks to that data property
          <input
            type="number"
            v-bind:value="incrementAmount"
            v-on:input="changeIncrementAmount"
          > 
        -->
      </div>
    
      <hr>
  
      <p v-if="message.length %2 === 0">
        Odd: {{ message }}
      </p>
      <p v-else>
        Even: {{ message }}
      </p>
      <ul>
        <li v-for="number of listOfNumbers">
          {{ number }}
        </li>
      </ul>

    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
      const { createApp } = Vue;

      const app = createApp({
        data() {
          return {
            count: 10,
            incrementAmount: 8,
            message: "We might work!",
            listOfNumbers: [1, 2, 3, 4, 5, 6]
          }
        },
        methods: {
          // changeIncrementAmount(event) {
          //   this.incrementAmount = event.target.value;
          // },
          incrementCount() {
            this.count += this.incrementAmount;
          }
        }
      });

      app.mount('#app');
    </script>
  </body>
</html>
