<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Playground — Vue 3</title>
  </head>
  <body>
    <h1>
      Hello World!
    </h1>
    <div id="app">
      <p v-if="message.length %2 === 0">
        Odd: {{ message }}
      </p>
      <p v-else>
        Even: {{ message }}
      </p>
      <ul>
        <li v-for="number of listOfNumbers">
          {{ number * Math.random() }}
        </li>
      </ul>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
      const { createApp } = Vue;

      const app = createApp({
        data() {
          return {
            message: "We might work!",
            listOfNumbers: [1, 2, 3, 4, 5, 6]
          }
        }
      });

      app.mount('#app');
    </script>
  </body>
</html>
